
body{
  font-family: Kirang Haerang, sans-serif;
}
/* MAKING OF SQUARES */
.square1 {
  height: 50px;
  width: 50px;
  background-color: #02b3e4;
}
.square2 {
  height: 50px;
  width: 50px;
  background-color: #2d3c49;
}
.square3 {
  height: 50px;
  width: 50px;
  background-color: #7d97ad;
}
/* HEADER STYLES */
.WLogo{
  width: 125px;
  height: 90px;
}
.presentation{
  text-align: right;
}
/* FLEXBOX SETUP */
header,.content{
  display: flex;
}
header{
  height:20%;
  margin:0% 0% 0% 10%;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width:600px){
  body{
    font-size: 0.8em;
  }
  header{
    margin:0% 0% 0% 0%;
  }
  .secondary_image{
    width:80px;
    height: 80px;
    border-radius: 1em;
  }
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.squares{
  margin-right: 0%;
  display:flex;
  width:100%;
  order:1;
  justify-content:space-around;
}
.square_with_text{
  width:100%;
  flex-direction: row;
  margin:0 5 0 5px;
}
.mainImage{
  width:100%;
  order:2;
  text-align: center;
}
.main_image{
  width:100%;
}
.links{
  width:100%;
  order:3;
  justify-content: space-between;
}
.link{
  display: flex;
  flex-direction: column;
  width:100%;
  align-items: center;
}
.subs,.tags{
  margin:0px;
}
.goto{
  margin-bottom: 35px;
}}

@media screen and (min-width:601px){
  header{
    margin:0% 0% 0% 0%;
    display:flex;
  }
.container{
  display: flex;
  flex-direction: row;
}
.squares{
  margin-right: 5%;
  display:flex;
  width:20%;
  order:1;
  flex-direction: column;
  align-items: center;
}
.square_with_text{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:100%;
}
.mainImage{
  width:100%;
  order:2;
}
.main_image{
  width:100%;
  flex-wrap: wrap;
}
.links{
  display:flex;
  width:33.3333%;
  flex-direction: row;
  justify-content:space-between;
}
.secondary_image{
  width:80px;
  height:80px;
  border-radius: 1em;
}
.box{
  width:100%;
}
.link{
  margin-right: 15px;
  display:flex;
  flex-direction:column;
  align-items: center;
}
.subs,.tags,.goto{
  width:100%;
  margin:10 0 0 0px;
  text-align: center;
}
.goto{
  font-size: 1.75vw;
  }}
